/* COLOR SCHEME */
/*
  Base text: #2A4C55
  danger/errors: #721817
  caution/warning: #fa9f42
  header: #335C67
  accent: #fc744e
  optional: #bfdbf7

  org: https://coolors.co/721817-fa9f42-f9fbfe-335c67-fc744e
  alt: https://coolors.co/721817-fa9f42-444546-77b588-fc744e
*/

/* Alternatives/Picker */
/* https://coolors.co/bcabae-b02e0c-020202-7a9e7e-005c69 */

.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  /* background: #F9FBFC; */
  min-height: 650px;
  padding: 2%;
}

.login-container {
  min-width: 120px;
}

.login-btn {
  font-weight: 500;
}

.login-btn:hover {
  color: #fc744e;
  font-weight: 700;
  cursor: pointer;
}